nav{
    font-size: 30px;
    background-color: rgb(3, 1, 1);
    font-weight: bold;
}

nav a{
    color: white;
}
nav a:active{
    color: blue;
}
nav a:hover{
    color: orange;
    font-size: 35px;
}

body{
    background-color: rgb(112, 112, 117);
}